{{ ansible_managed | comment }}

continue=true
max-connection-per-server=1
max-tries=3
no-netrc=true
retry-wait=20
split=4
max-concurrent-downloads=4
always-resume=true
console-log-level=info
log-level=error
enable-color=true
human-readable=true
log-level=info
optimize-concurrent-downloads=true
